{% extends 'layout.html' %}
{% block body %}
    <title>Add server - Totmeme</title>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name(size=20, class="form-control", type="text", style="max-width: 15rem") }}
    <p></p>
    {{ form.controller.label }}
    {{ form.controller(size=20, class="form-control", type="text", style="max-width: 15rem") }}
    <p></p>
    {{ form.pin.label }}
    {{ form.pin(size=20, class="form-control", type="text", style="max-width: 15rem") }}
    <p></p>
    <button class="btn btn-outline-primary" type="submit">Submit</button>
</form>
{% endblock %}