{% extends 'layout.html' %}
{% block body %}
<form method="POST" action="">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>{{ form.controller.label }}</td>
            <td>{{ form.controller(size=20) }}</td>
        </tr>
        <tr>
            <td>{{ form.target.label }}</td>
            <td>{{ form.target(size=20) }}</td>
        </tr>
        <tr>
            <td>{{ form.action.label }}</td>
            <td>{{ form.action(size=20) }}</td>
        </tr>
    </table>
    <p><input type="submit" value="Sumbit"></p>
</form>
{% endblock %}