{% extends 'layout.html' %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        moment.locale(window.navigator.userLanguage || window.navigator.language);
        {% for log in logins %}
        $('#time-{{ log.key.integer_id() }}').text(moment("{{ log.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}").format('lll'));
        {% endfor %}
    });
    </script>
{% endblock %}
{% block body %}
    <title>Admin - Totmeme</title>
    <h1>Problems:</h1>
    {% for text in problems %}
        <p class="alert alert-danger">{{ text }}</p>
    {% else %}
        <p class="alert alert-success">No problems found</p>
    {% endfor %}
    <h1>Last 10 queries:</h1>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Action</th>
    <th>IP</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logins %}
        <tr>
        <td>{{ log.action }}</td>
        <td>{{ log.user_ip }}</td>
        <td id="time-{{ log.key.integer_id() }}">{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
    {% else %}
    <p style="color: red">No queries found!</p>
    {% endfor %}
    </tbody>
    </table>
    <p></p>
    <a class="btn btn-secondary" href="/admin/flush_all">Flush all entries (be careful!)</a>
{% endblock %}