{% extends 'layout.html' %}
{% block body %}
    <title>Admin - Totmeme</title>
    <h1>Problems:</h1>
    {% for text in problems %}
        <p class="alert alert-danger">{{ text }}</p>
    {% else %}
        <p class="alert alert-success">No problems found</p>
    {% endfor %}
    <h1>Last 10 queries:</h1>
    {% for text in logins %}
        <p>{{ text }}</p>
    {% else %}
    <p style="color: red">No queries found!</p>
    {% endfor %}
    <a class="btn btn-secondary" href="/admin/flush_all">Flush all entries (be careful!)</a>
{% endblock %}