{% extends 'layout.html' %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        moment.locale(window.navigator.userLanguage || window.navigator.language);
        {% for device in devices %}
        $('#time-{{ device.key.integer_id() }}').text(moment("{{ device.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}").format('lll'));
        {% if device.lastseen %}
        $('#seen-{{ device.key.integer_id() }}').text(moment("{{ device.lastseen.strftime('%Y-%m-%dT%H:%M:%SZ') }}").format('lll'));
            {% endif %}
        {% endfor %}
    });
    </script>
{% endblock %}
{% block body %}
    <title>Devices - Totmeme</title>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Device</th>
    <th>Name</th>
        <th>Timestamp</th>
    <th>Lastseen</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for device in devices %}
    <tr>
    <td>{{ device.key.integer_id() }}</td>
    <td>{{ device.name }}</td>
        <td id="time-{{ device.key.integer_id() }}">{{ device.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% if device.lastseen %}
        <td id="seen-{{ device.key.integer_id() }}">{{ device.lastseen.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% else %}
        <td>{{ device.lastseen }}</td>
        {% endif %}
    <td><a class="btn btn-secondary" href="/admin/deldevice?id={{ device.key.integer_id() }}">Delete</a></td>
    </tr>
{% else %}
    <tr><td style="color: red">No devices found</td></tr>
{% endfor %}
    </tbody>
    </table>
    <a class="btn btn-secondary" href="/admin/adddevice">Add device</a>
{% endblock %}