<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/bootstrap.min.css">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/admin">Totmeme</a>

      <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/devices">Devices</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/admin/servers">Servers</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" style="padding-top: 5rem;">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block body %}

    {% endblock %}
    </div>
<script src="/static/jquery-3.2.0.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<footer>
    <p></p>
</footer>