{% extends 'layout.html' %}
{% block body %}
    <title>Servers - Totmeme</title>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Server</th>
    <th>Name</th>
        <th>Controller</th>
        <th>Pin</th>
        <th>Timestamp</th>
    <th>Lastseen</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for server in servers %}
    <tr>
    <td>{{ server.key.integer_id() }}</td>
    <td>{{ server.name }}</td>
        <td>{{ server.controller }}</td>
        <td>{{ server.pin }}</td>
        <td>{{ server.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% if server.lastseen %}
        <td>{{ server.lastseen.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% else %}
        <td>{{ server.lastseen }}</td>
        {% endif %}
    <td><a class="btn btn-secondary" href="/admin/delserver?id={{ server.key.integer_id() }}">Delete</a></td>
    </tr>
{% else %}
    <tr><td style="color: red">No servers found</td></tr>
{% endfor %}
    </tbody>
    </table>
    <a class="btn btn-secondary" href="/admin/addserver">Add server</a>
{% endblock %}