{% extends 'layout.html' %}
{% block body %}
    <title>Tasks - Totmeme</title>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>Task</th>
    <th>Controller</th>
    <th>Target</th>
    <th>Action</th>
        <th>Timestamp</th>
    <th>Done</th>
        <th>Modded</th>
    <th>Notes</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for task in tasks %}
    <tr>
    <td>{{ task.key.integer_id() }}</td>
    <td>{{ task.controller }}</td>
    <td>{{ task.target }}</td>
    <td>{{ task.action }}</td>
        <td>{{ task.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% if task.done %}
        <td style="color: green">{{ task.done }}</td>
        {% else %}
        <td style="color: red">{{ task.done }}</td>
        {% endif %}
    <td>{{ task.modded.strftime('%d.%m.%Y %H:%M:%S') }}</td>
    <td>{{ task.notes }}</td>
    <td><a class="btn btn-secondary" href="/admin/deltask?id={{ task.key.integer_id() }}">Delete</a></td>
    </tr>
{% else %}
    <tr><td style="color: red">No tasks found</td></tr>
{% endfor %}
    </tbody>
    </table>
    <a class="btn btn-secondary" href="/admin/addtask">Add task</a>
{% endblock %}