{% extends 'layout.html' %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
        moment.locale(window.navigator.userLanguage || window.navigator.language);
        {% for server in users %}
        $('#time-{{ server.key.integer_id() }}').text(moment("{{ server.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}").format('lll'));
        $('#seen-{{ server.key.integer_id() }}').text(moment("{{ server.lastlogin.strftime('%Y-%m-%dT%H:%M:%SZ') }}").format('lll'));
        {% endfor %}
    });
    </script>
{% endblock %}
{% block body %}
    <title>Users - Totmeme</title>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>User</th>
    <th>Username</th>
        <th>Timestamp</th>
    <th>Lastlogin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
    <td>{{ user.key.integer_id() }}</td>
    <td>{{ user.username }}</td>
        <td id="time-{{ user.key.integer_id() }}">{{ user.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% if user.lastlogin %}
        <td id="seen-{{ user.key.integer_id() }}">{{ user.lastlogin.strftime('%d.%m.%Y %H:%M:%S') }}</td>
        {% else %}
        <td>{{ user.lastlogin }}</td>
        {% endif %}
    <td><a class="btn btn-secondary" href="/admin/deluser?id={{ user.key.integer_id() }}">Delete</a></td>
    </tr>
{% else %}
    <tr><td style="color: red">No users found</td></tr>
{% endfor %}
    </tbody>
    </table>
    <a class="btn btn-secondary" href="/admin/adduser">Add user</a>
{% endblock %}