{% extends 'layout.html' %}
{% block body %}
    <title>Users - Totmeme</title>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <td>user</td>
    <td>Username</td>
        <td>Timestamp</td>
    <td>Lastlogin</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
    <td>{{ user.key.integer_id() }}</td>
    <td>{{ user.username }}</td>
        <td>{{ user.timestamp }}</td>
        <td>{{ user.lastlogin }}</td>
    <td><a class="btn btn-secondary" href="/admin/deluser?id={{ user.key.integer_id() }}">Delete</a></td>
    </tr>
{% else %}
    <tr><td style="color: red">No users found</td></tr>
{% endfor %}
    </tbody>
    </table>
    <a class="btn btn-secondary" href="/admin/adduser">Add user</a>
{% endblock %}